* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-primary: #000000;
  --background-secondary: #171717;

  --light-pink: #ff3465;

  --font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  overflow: hidden;
}
h1{
  font-size: 65px;
  font-weight: 600;
  & span{
    text-shadow: 0px 0px 12px rgba(255,52,101,0.77);
    color: var(--light-pink);
  }
}
p {
  color: #adadad;
  & span {
    color: white;
  }
}

a {
  text-decoration: none;
  color: white;
}
